# Datasets

Just a bit of exploration of some datasets in './QA-datasets'

I have left them untracked in git since they are big but ./QA-datasets/README.md has sources.

## FIQA Dataset
- 6648 Questions
- 57638 Answers

https://sites.google.com/view/fiqa/

In [1]:
import pandas as pd

In [2]:
questions = pd.read_csv('./QA-datasets/FIQA/FIQA_questions.tsv', sep='\t')
questions

,Unnamed: 0,qid,question,timestamp
0,0,0,What is considered a business expense on a bus...,Nov 8 '11 at 15:14
1,1,1,Claiming business expenses for a business with...,May 13 '14 at 13:17
2,2,2,Transferring money from One business checking ...,Jan 20 '16 at 20:31
3,3,3,Having a separate bank account for business/in...,Mar 1 at 0:24
4,4,4,Business Expense - Car Insurance Deductible Fo...,Mar 4 at 0:26
...,...,...,...,...
6643,6643,11092,Is real (physical) money traded during online ...,Jan 1 '14 at 22:55
6644,6644,11096,"Pensions, annuities, and “retirement”",Apr 17 '15 at 19:44
6645,6645,11097,What does it mean to a life insurance policy h...,Jun 25 at 0:54
6646,6646,11099,Can capital loss in traditional IRA and Roth I...,Jun 8 '12 at 0:57
6647,6647,11104,Selling a stock for gain to offset other stock...,Sep 18 at 18:16

In [3]:
question_answer_ids = pd.read_csv('./QA-datasets/FIQA/FIQA_qa_ids.tsv', sep='\t')
question_answer_ids

       Unnamed: 0    qid   docid
0               0      0   18850
1               1      1   14255
2               2      2  308938
3               3      3  296717
4               4      3  100764
...           ...    ...     ...
17105       17105  11096  407726
17106       17106  11097  131224
17107       17107  11099  424427
17108       17108  11099  150878
17109       17109  11104  518310

[17110 rows x 3 columns]

In [4]:
answers = pd.read_csv('./QA-datasets/FIQA/FIQA_answers.tsv', sep='\t')
answers

,Unnamed: 0,docid,doc,timestamp
0,0,3,I'm not saying I don't like the idea of on-the...,Oct 03 '12 at 14:56
1,1,31,So nothing preventing false ratings besides ad...,Sep 01 '17 at 13:36
2,2,56,You can never use a health FSA for individual ...,Jun 9 '14 at 17:37
3,3,59,Samsung created the LCD and other flat screen ...,Dec 27 at 01:37
4,4,63,Here are the SEC requirements: The federal sec...,Jul 14 '14 at 8:10
...,...,...,...,...
57633,57633,599946,"&gt;Well, first off, the roads are more than j...",Oct 17 at 00:27
57634,57634,599953,Yes they do. There are billions and billions s...,Jul 12 '17 at 22:21
57635,57635,599966,&gt;It's biggly sad you don't understand human...,Aug 16 '17 at 01:29
57636,57636,599975,"Did your CTO let a major group use ""admin/admi...",Sep 16 '17 at 05:50
57637,57637,599987,Giving the government more control over the di...,Oct 18 '17 at 12:50

In [5]:
import csv
import os
from jina import Document

In [12]:
def index_generator():
    
    data_path = os.path.join('../datasets/FIQA/FIQA_answers.tsv')

    # Get Document and ID
    with open(data_path) as f:
        reader = csv.reader(f, delimiter='\t')
        for data in enumerate(reader):
            d = Document()
            d.tags['id'] = int(data[0])
            d.text = data[1]
            yield d
            
next(index_generator())

FileNotFoundError: [Errno 2] No such file or directory: '../datasets/FIQA/FIQA_answers.tsv'

## Insurance QA Dataset

In [13]:
import gzip

In [14]:
with gzip.open('../datasets/insuranceQA/V2/InsuranceQA.question.anslabel.raw.100.pool.solr.train.encoded.gz', 'rt', encoding='utf-8') as f:
    text = f.readlines()

FileNotFoundError: [Errno 2] No such file or directory: '../datasets/insuranceQA/V2/InsuranceQA.question.anslabel.raw.100.pool.solr.train.encoded.gz'

In [15]:
pp.pprint(text[0])

('disability-insurance\tidx_3815 idx_432 idx_136 idx_25338 idx_1655 idx_65910\t'
 '20798\t9590 21552 24798 5593 18674 19388 1752 10669 20381 20598 11045 758 '
 '15399 17785 24810 23337 14123 58 1138 16413 18944 3183 14807 4610 9905 14271 '
 '22122 26610 25922 11727 20125 15831 7971 5576 13445 13790 15849 21892 26432 '
 '9541 6038 5099 18387 5338 15429 11947 12318 14851 24193 16552 7992 532 17421 '
 '26897 12239 13082 11313 15236 18799 18968 20967 11399 23728 21196 6917 19750 '
 '20196 13142 8505 24350 5441 10075 12923 21896 27205 24626 25779 15255 7062 '
 '5348 9251 13965 18166 5357 19095 9771 10757 26441 8350 14799 4379 5088 884 '
 '10799 24629 26650 5360 8234 18818 21772\n')